## Libraries

In [2]:
#working in the dataframes 
import pandas as pd
import numpy as np
from collections import Counter

#graphing 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#using nlp 
import nltk
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords 

#modeling
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

#interpretation on the models 
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error


import string
import re
import spacy
from spacy.lang.pt.stop_words import STOP_WORDS

nlp = spacy.load("en_core_web_sm")

## Load in Datasets

### Summary statistics
Summary statistics refer to numerical measures that provide a concise overview of a dataset

In [3]:
#Read in the data
df_flights = pd.read_csv('../data/flights_cleaned.csv')
#Check to see if it worked
df_flights.head()

  subreddit                                               text
0   Flights  $9AUD Flight To date, I just purchased my chea...
1   Flights  I'm an engineer with a design to reverse engin...
2   Flights                               TAP AIR FLIGHT SONG
3   Flights  what would you do? awful rule regarding Porter...
4   Flights                           EVA Air CC Verification

In [4]:
df_hotels = pd.read_csv('../data/hotels_cleaned.csv')
#Check to see if it worked
df_hotels.head()

  subreddit                                               text
0    hotels  Double booking + egregious hotel cancellation ...
1    hotels  Hotel Managment Hello All! \nI am currently ap...
2    hotels                                      Parking pass
3    hotels  A Journey Through The Oceana Hotel Culinary Wo...
4    hotels                    Chime Card at Las Vegas Hotels

In [6]:
df_flights.describe().T

,count,unique,top,freq
subreddit,4959,2,Flights,4933
text,4959,4959,"$9AUD Flight To date, I just purchased my chea...",1

In [7]:
df_hotels.describe().T

,count,unique,top,freq
subreddit,4767,1,hotels,4767
text,4767,4767,Double booking + egregious hotel cancellation ...,1

In [8]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4959 entries, 0 to 4958
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subreddit  4959 non-null   object
 1   text       4959 non-null   object
dtypes: object(2)
memory usage: 77.6+ KB

In [9]:
df_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4767 entries, 0 to 4766
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subreddit  4767 non-null   object
 1   text       4767 non-null   object
dtypes: object(2)
memory usage: 74.6+ KB

### Data transformation

In [10]:

regexp = RegexpTokenizer('\w+')
df['text'] = df['text'].astype(str).str.lower()  #Data transformation
df['text_token']=df['text'].apply(regexp.tokenize) #Tokenization

NameError: name 'df' is not defined